// Paths

$assets-path: '../assets';

// Colors

$color-primary: #4FC08E;
$color-secondary: #384a69;
$color-white: #f6f6f6;
$color-text: #7f8c8d;

// Sizes

$header-height: 80px;

// Paddings

// Fonts

$font-regular: 'OpenSans-Regular';
$font-bold: 'OpenSans-Bold';
