<script src="./intro.js"></script>

<template>

    <div :class="style.wrapper">

        <div :class="style.container">

            <h2>{{ $t("message.hello") }}</h2>

            <router-link to="/example">GO TO example route</router-link>

        </div>

    </div>

</template>
