<script src="./sharing.js"></script>

<template>

    <div :class="style.wrapper">

        <div ref="dropdown" :class="style.container">

            <div :class="style.iconSh">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 57"><g><path style="fill:#7f8c8d;" d="M33.5,42a7.45,7.45,0,0,0-4.67,1.64L14.17,31.92a7.43,7.43,0,0,0,0-6.83L28.83,13.36a7.47,7.47,0,1,0-1.93-2.3L12.3,22.74a7.5,7.5,0,1,0,0,11.52L26.9,45.94A7.5,7.5,0,1,0,33.5,42Zm0-39A4.5,4.5,0,1,1,29,7.5,4.51,4.51,0,0,1,33.5,3ZM7.5,33A4.5,4.5,0,1,1,12,28.5,4.51,4.51,0,0,1,7.5,33Zm26,21A4.5,4.5,0,1,1,38,49.5,4.51,4.51,0,0,1,33.5,54Z"/></g></svg>
            </div>

            <span>Share</span>
            <div v-on:click="shareFacebook()" :class="['icon', style.iconFb]"><div :class="style.iconFa">F</div></div>
            <div v-on:click="shareTwitter()" :class="['icon', style.iconTw]"><div :class="style.iconFa">T</div></div>

        </div>

    </div>

</template>
