.wrapper {
    position: absolute;
    right: 50px;
    top: $header-height/2;
}

.iconSh {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 15px;
}

.iconFb {
    right: 28px;
    transition-delay: 0.1s;
    transform: translateY(16px);
}

.iconTw {
    right: 5px;
    transition-delay: 0.2s;
    transform: translateY(16px);
}

.iconFa {
    @include centerXY;
}

.container {
    font-family: $font-bold;
    font-size: 14px;
    padding: 2px 0px 0px 22px;
    width: 65px;
    height: 16px;
    overflow: hidden;
    position: relative;

    span {
        position: absolute;
        cursor: pointer;
        transform: translateY(0);
        opacity: 1;
        transition: all 0.3s;
        transition-delay: 0.2s;
    }

    &.hover {
        span {
            transform: translateY(-16px);
            opacity: 0;
            transition-delay: 0s;
        }
        .iconFb, .iconTw {
            transform: translateY(-2px);
            opacity: 1;
        }
    }

}
