html,
body {
    width: 100%;
    height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// disable elastic scrolling on iOS
html.no-scroll {
    position: fixed;
    body {
        position: fixed;
    }
}

body {
  background-color: $color-white;
  -webkit-overflow-scrolling: touch;
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
}

canvas {
  vertical-align: middle;
}

svg {
    width: 100%;
    height: 100%;
}
