$fonts: 'OpenSans-Regular', 'OpenSans-Bold';

@each $name in $fonts {
    $path: '#{$assets-path}/fonts/#{$name}';
    @font-face {
        font-family: $name;
        src: url('#{$path}.woff2') format('woff2'),
             url('#{$path}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}
