.icon {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: all 0.3s;
    text-align: center;

    @include desktop-hover {
        color: $color-white;
        background: $color-primary;
    }

}
