.main-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include mq('tablet', max) {
        position: relative;
        left: auto;
        top: auto;
    }

}
