body {
    font-family: $font-regular, sans-serif;
    font-size: 14px;
    color: $color-text;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $font-bold;
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.4;
    font-family: $font-bold;
}

h3 {
    font-size: 17px;
    text-transform: none;
    font-family: $font-bold;
}

a, a:hover, a:visited {
    color: $color-text;
    text-transform: none;
    cursor: pointer;
}
