<script src="./example.js"></script>

<template>

    <div :class="style.wrapper">

        <div :class="style.container">

            <h2>Example view</h2>

            <div :class="[style.directive, 'a-directive']" v-example-directive="dirValue">EXAMPLE DIRECTIVE</div>

            <router-link to="/">BACK</router-link>

        </div>

    </div>

</template>
