<script src="./header.js"></script>

<!-- FIXME fixme header.vue -->

<template>

    <transition v-on:enter="enter">

        <div v-if="loaded" :class="style.wrapper">

            <div :class="style.container">
                HEADER COMPONENT – {{route}}
            </div>

        </div>

    </transition>

</template>
