.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    background: $color-primary;
    color: $color-white;
    // color: blue;
    z-index: 1;
}

// OPTIMIZE optimize header.scss

.container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
