<script src="./application.js"></script>

<template>

    <div v-bind:class="[browserClass, deviceClass, style.wrapper]">

    	<header-component :loaded="isLoaded"></header-component>

        <div v-if="isLoaded" :class="style.container">

    		<transition
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:after-enter="afterEnter"
                v-on:cancelled-enter="enterCancelled"

                v-on:before-leave="beforeLeave"
                v-on:leave="leave"
                v-on:after-leave="afterLeave"
                v-on:cancelled-leave="leaveCancelled"
                
                mode="out-in" appear>
                
                <router-view></router-view>

            </transition>

            <sharing-component></sharing-component>

        </div>

        <loader-component v-if="!isLoaded"></loader-component>

    </div>

</template>
