<script src="./loader.js"></script>

<template>

	<div :class="[style.wrapper, 'a-loader']">

		<div :class="style.container">

	        <div :class="style.svgbar">

	            <loader-path name="loaderPath"></loader-path>

				<div ref="svgpath" :class="style.svgbar__progress">

					<loader-path name="loaderPath"></loader-path>

				</div>

	        </div>

	        <div :class="style.infos">
	            Loading <span ref="counter">000</span><span>/100</span>
	        </div>

		</div>

	</div>

</template>
