.wrapper {
    @include fullAbsolute();
    background-color: $color-primary;
    z-index: 10000;
}

.container {
    @include centerXY;
    width: 100%;
    text-align: center;
}

.infos {
    position: relative;
    text-align: center;
    font-size: 13px;
    padding-top: 18px;
    font-family: $font-bold;
    color: $color-white;
    letter-spacing: 2px;
}

.svgbar {
    position: relative;
    width: 90%;
    max-width: 430px;
    height: 25px;
    margin: 0 auto;
    path {
        stroke: rgba($color-white, 0.3);
    }
}

.svgbar__progress {
    @include fullAbsolute();
    path {
        stroke: $color-white;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
    }
}
